In [3]:
# Importing libraries necessary for this project.

import requests
import pandas as pd
import html5lib
from selenium import webdriver
from bs4 import BeautifulSoup
import time

In [4]:
# Create a variable for the list of NBA Years needed. In this one, I'm getting season totals from the 1949-1950 to 2021-2022 season.

years = list(range(1950,2023))

In [5]:
# Get the Basketball-Reference URL to webscrape on.

player_stats_url = "https://www.basketball-reference.com/leagues/NBA_{}_totals.html" #{} is where the years will be iterated on for each webpage

In [ ]:
# Initialize the chromedriver to open an automated chrome window. For personal reasons, I have excluded my personal file path.

driver = webdriver.Chrome(executable_path=r"\###\###\###\###\chromedriver_win32\chromedriver")

In [8]:
# Create a folder in your directory where the .html files will be saved on.
# We will be saving the pages on an html file to reduce website access and avoid getting banned for frequent access requests.

for year in years:
    url = player_stats_url.format(year)
    driver.get(url)
    driver.execute_script("window.scrollTo(1,10000)") # Used to scroll to bottom of webpage to load the whole table since it's being ran by JavaScript.
                                                      # Not including this will only load a few rows of the table.
    time.sleep(5)
    
    html = driver.page_source
    with open("season stats websites/{}.html".format(year), "w+", encoding="utf-8") as f:
        f.write(html)
    print(str(year) + ".html saved!")                 # Just so you get prompted on the progress.

1950.html saved!
1951.html saved!
1952.html saved!
1953.html saved!
1954.html saved!
1955.html saved!
1956.html saved!
1957.html saved!
1958.html saved!
1959.html saved!
1960.html saved!
1961.html saved!
1962.html saved!
1963.html saved!
1964.html saved!
1965.html saved!
1966.html saved!
1967.html saved!
1968.html saved!
1969.html saved!
1970.html saved!
1971.html saved!
1972.html saved!
1973.html saved!
1974.html saved!
1975.html saved!
1976.html saved!
1977.html saved!
1978.html saved!
1979.html saved!
1980.html saved!
1981.html saved!
1982.html saved!
1983.html saved!
1984.html saved!
1985.html saved!
1986.html saved!
1987.html saved!
1988.html saved!
1989.html saved!
1990.html saved!
1991.html saved!
1992.html saved!
1993.html saved!
1994.html saved!
1995.html saved!
1996.html saved!
1997.html saved!
1998.html saved!
1999.html saved!
2000.html saved!
2001.html saved!
2002.html saved!
2003.html saved!
2004.html saved!
2005.html saved!
2006.html saved!
2007.html saved!
2008.html saved!
2009.html saved!
2010.html saved!
2011.html saved!
2012.html saved!
2013.html saved!
2014.html saved!
2015.html saved!
2016.html saved!
2017.html saved!
2018.html saved!
2019.html saved!
2020.html saved!
2021.html saved!
2022.html saved!

In [9]:
# From our saved .html files, we will not be using BeautifulSoup to gather data from the tables and append each year into one another before using Pandas to concat them.

df = []
for year in years:
    with open("season stats websites/{}.html".format(year), encoding="utf-8") as f:
        page = f.read()

    soup = BeautifulSoup(page, "html.parser")
    soup.find("tr", class_="thead").decompose()
    player_table = soup.find(id="totals_stats") 
    player = pd.read_html(str(player_table))[0]
    player['Year'] = year                       # This is for adding which year the stat was coming from since majority of NBA Players play more than one season.
    df.append(player)
    print(year)                                 # Just to show progress.

1950
1951
1952
1953
1954
1955
1956
1957
1958
1959
1960
1961
1962
1963
1964
1965
1966
1967
1968
1969
1970
1971
1972
1973
1974
1975
1976
1977
1978
1979
1980
1981
1982
1983
1984
1985
1986
1987
1988
1989
1990
1991
1992
1993
1994
1995
1996
1997
1998
1999
2000
2001
2002
2003
2004
2005
2006
2007
2008
2009
2010
2011
2012
2013
2014
2015
2016
2017
2018
2019
2020
2021
2022

In [27]:
# Now let's use Pandas to concatenate our appended dataframes.

players = pd.concat(df)

In [28]:
# Quick check on the output.

players

,Rk,Player,Pos,Age,Tm,G,GS,MP,FG,FGA,...,ORB,DRB,TRB,AST,STL,BLK,TOV,PF,PTS,Year
0,1,Curly Armstrong,G-F,31,FTW,63,NaN,NaN,144,516,...,NaN,NaN,NaN,176,NaN,NaN,NaN,217,458,1950
1,2,Cliff Barker,SG,29,INO,49,NaN,NaN,102,274,...,NaN,NaN,NaN,109,NaN,NaN,NaN,99,279,1950
2,3,Leo Barnhorst,SF,25,CHS,67,NaN,NaN,174,499,...,NaN,NaN,NaN,140,NaN,NaN,NaN,192,438,1950
3,4,Ed Bartels,F,24,TOT,15,NaN,NaN,22,86,...,NaN,NaN,NaN,20,NaN,NaN,NaN,29,63,1950
4,4,Ed Bartels,F,24,DNN,13,NaN,NaN,21,82,...,NaN,NaN,NaN,20,NaN,NaN,NaN,27,59,1950
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
836,601,Thaddeus Young,PF,33,TOR,26,0,475,67,144,...,40,75,115,45,31,11,22,43,164,2022
837,602,Trae Young,PG,23,ATL,76,76,2652,711,1544,...,50,234,284,737,72,7,303,128,2155,2022
838,603,Omer Yurtseven,C,23,MIA,56,12,706,130,247,...,85,209,294,49,17,20,41,84,299,2022
839,604,Cody Zeller,C,29,POR,27,0,355,51,90,...,50,75,125,22,8,6,19,56,140,2022
840,605,Ivica Zubac,C,24,LAC,76,76,1852,310,495,...,217,427,644,120,36,77,114,203,785,2022

In [29]:
# Quick check if headers were also included.

players.loc[players["Player"] == "Player"]

,Rk,Player,Pos,Age,Tm,G,GS,MP,FG,FGA,...,ORB,DRB,TRB,AST,STL,BLK,TOV,PF,PTS,Year
50,Rk,Player,Pos,Age,Tm,G,GS,MP,FG,FGA,...,ORB,DRB,TRB,AST,STL,BLK,TOV,PF,PTS,1950
75,Rk,Player,Pos,Age,Tm,G,GS,MP,FG,FGA,...,ORB,DRB,TRB,AST,STL,BLK,TOV,PF,PTS,1950
102,Rk,Player,Pos,Age,Tm,G,GS,MP,FG,FGA,...,ORB,DRB,TRB,AST,STL,BLK,TOV,PF,PTS,1950
131,Rk,Player,Pos,Age,Tm,G,GS,MP,FG,FGA,...,ORB,DRB,TRB,AST,STL,BLK,TOV,PF,PTS,1950
163,Rk,Player,Pos,Age,Tm,G,GS,MP,FG,FGA,...,ORB,DRB,TRB,AST,STL,BLK,TOV,PF,PTS,1950
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
727,Rk,Player,Pos,Age,Tm,G,GS,MP,FG,FGA,...,ORB,DRB,TRB,AST,STL,BLK,TOV,PF,PTS,2022
756,Rk,Player,Pos,Age,Tm,G,GS,MP,FG,FGA,...,ORB,DRB,TRB,AST,STL,BLK,TOV,PF,PTS,2022
781,Rk,Player,Pos,Age,Tm,G,GS,MP,FG,FGA,...,ORB,DRB,TRB,AST,STL,BLK,TOV,PF,PTS,2022
808,Rk,Player,Pos,Age,Tm,G,GS,MP,FG,FGA,...,ORB,DRB,TRB,AST,STL,BLK,TOV,PF,PTS,2022
833,Rk,Player,Pos,Age,Tm,G,GS,MP,FG,FGA,...,ORB,DRB,TRB,AST,STL,BLK,TOV,PF,PTS,2022

In [30]:
# Now let's exclude those.

players = players.loc[players["Player"] != "Player"]

players

,Rk,Player,Pos,Age,Tm,G,GS,MP,FG,FGA,...,ORB,DRB,TRB,AST,STL,BLK,TOV,PF,PTS,Year
0,1,Curly Armstrong,G-F,31,FTW,63,NaN,NaN,144,516,...,NaN,NaN,NaN,176,NaN,NaN,NaN,217,458,1950
1,2,Cliff Barker,SG,29,INO,49,NaN,NaN,102,274,...,NaN,NaN,NaN,109,NaN,NaN,NaN,99,279,1950
2,3,Leo Barnhorst,SF,25,CHS,67,NaN,NaN,174,499,...,NaN,NaN,NaN,140,NaN,NaN,NaN,192,438,1950
3,4,Ed Bartels,F,24,TOT,15,NaN,NaN,22,86,...,NaN,NaN,NaN,20,NaN,NaN,NaN,29,63,1950
4,4,Ed Bartels,F,24,DNN,13,NaN,NaN,21,82,...,NaN,NaN,NaN,20,NaN,NaN,NaN,27,59,1950
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
836,601,Thaddeus Young,PF,33,TOR,26,0,475,67,144,...,40,75,115,45,31,11,22,43,164,2022
837,602,Trae Young,PG,23,ATL,76,76,2652,711,1544,...,50,234,284,737,72,7,303,128,2155,2022
838,603,Omer Yurtseven,C,23,MIA,56,12,706,130,247,...,85,209,294,49,17,20,41,84,299,2022
839,604,Cody Zeller,C,29,POR,27,0,355,51,90,...,50,75,125,22,8,6,19,56,140,2022
840,605,Ivica Zubac,C,24,LAC,76,76,1852,310,495,...,217,427,644,120,36,77,114,203,785,2022

In [31]:
# Then double check if they're still there.

players.loc[players["Player"] == "Player"]

Empty DataFrame
Columns: [Rk, Player, Pos, Age, Tm, G, GS, MP, FG, FGA, FG%, 3P, 3PA, 3P%, 2P, 2PA, 2P%, eFG%, FT, FTA, FT%, ORB, DRB, TRB, AST, STL, BLK, TOV, PF, PTS, Year]
Index: []

[0 rows x 31 columns]

In [ ]:
# Now let's also exclude the "Rk" column since this is irrelevant to our dataset.

players = players.drop(columns = 'Rk')

In [46]:
# Then reset your index just for standardization.
# .drop(columns = 'index') was included here because using .reset_index() retained the old index and made it into an additional column.

players = players.reset_index().drop(columns = 'index')

players # For checking your output at this stage of the table manipulation.

,Player,Pos,Age,Tm,G,GS,MP,FG,FGA,FG%,...,ORB,DRB,TRB,AST,STL,BLK,TOV,PF,PTS,Year
0,Curly Armstrong,G-F,31,FTW,63,NaN,NaN,144,516,.279,...,NaN,NaN,NaN,176,NaN,NaN,NaN,217,458,1950
1,Cliff Barker,SG,29,INO,49,NaN,NaN,102,274,.372,...,NaN,NaN,NaN,109,NaN,NaN,NaN,99,279,1950
2,Leo Barnhorst,SF,25,CHS,67,NaN,NaN,174,499,.349,...,NaN,NaN,NaN,140,NaN,NaN,NaN,192,438,1950
3,Ed Bartels,F,24,TOT,15,NaN,NaN,22,86,.256,...,NaN,NaN,NaN,20,NaN,NaN,NaN,29,63,1950
4,Ed Bartels,F,24,DNN,13,NaN,NaN,21,82,.256,...,NaN,NaN,NaN,20,NaN,NaN,NaN,27,59,1950
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
28232,Thaddeus Young,PF,33,TOR,26,0,475,67,144,.465,...,40,75,115,45,31,11,22,43,164,2022
28233,Trae Young,PG,23,ATL,76,76,2652,711,1544,.460,...,50,234,284,737,72,7,303,128,2155,2022
28234,Omer Yurtseven,C,23,MIA,56,12,706,130,247,.526,...,85,209,294,49,17,20,41,84,299,2022
28235,Cody Zeller,C,29,POR,27,0,355,51,90,.567,...,50,75,125,22,8,6,19,56,140,2022
28236,Ivica Zubac,C,24,LAC,76,76,1852,310,495,.626,...,217,427,644,120,36,77,114,203,785,2022

In [47]:
# At this point, it is now up to you how you would want to manipulate the dataset further.
# If there are no further steps you want to take, let's now save your dataframe into a csv for your personal usecases.

players.to_csv("datasets/nba_player_totals_perseason(1950-2022).csv")